
@use 'themes/themes';
@use 'themes/light';

@tailwind base;
@tailwind components;
@tailwind utilities;

@include themes.themes;

body {
    @apply bg-background
}

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open {
    opacity: 1;
    background-color: transparent;
}

.ReactModal__Overlay--before-close {
    opacity: 0;
}

.ReactModal__Content, .ReactModal__Content--after-open {
    overflow: hidden;
    background-color: var(--color-card-background);
    @apply rounded-2xl border-0;
}

pre {
    overflow-x: auto;
}

body {
    overflow-x: hidden;
}

.pretty.p-switch .state:before {
    height: calc(1em + 4px) !important;
    @apply bg-field-background;
}
