.note-template {
  width: 150px;
  height: 200px;

  @apply cursor-pointer;

  &.default {
    @apply border border-gray-500 rounded-2xl group-hover:border-primary group-hover:text-primary transition-colors duration-150;
    border-width: 3px;
    border-style: dashed;
    & p {
      @apply group-hover:text-primary transition-colors duration-150 select-none;
    }
  }

  &+p {
    @apply group-hover:text-primary transition-colors duration-150 select-none text-lg text-center my-2;
    @apply font-semibold text-text-secondary rounded-xl;
    @apply group-hover:bg-primary group-hover:text-white;
  }
}
